---
layout: layouts/home.njk
eleventyNavigation:
  key: posts
  order: 2
---

<h1>latest posts</h1>

<section>
  {% set postslist = collections.posts %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

</section >
