<section class="postlist-wrapper news">

    {% for year, yearPosts in collections.postsByYear %}
      <h2 class="postlist-title">{{ year }}</h2>
      <ul class="postlist-list">
        {% for post in yearPosts | reverse %}
          <a class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}" href="{{ post.url | url }}" class="postlist-link">
            {% if post.data.title %}<h2 class="postlist-title">{{ post.data.title }}</h2>
            {% else %}
              <code>{{ post.url }}</code>
            {% endif %}
            </a>
             <article class="postlist-content"> 
              {{post.templateContent | safe}} 
              </article>
            <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        {% endfor %}
      </ul>
    {% endfor %}
  
</section>