---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h2>{{ title }}</h2>

<section  class="h-card">
  <img alt="это я" class="u-photo" src="../img/me.jpg"/>
  <h2 class="p-name">
    <a href="/about" class="u-url u-uid" rel="me">Дарья Морено-Гоголева </a>
  </h2>
  <article>
    <p class="p-note">
    Программистка. Читаю поэзию, фотографирую на айфон, ругаюсь за феминизм.
  </p>
    <p>
    Теперь пишу на русском
  </p>
    <p>
    Меня можно найти <a href="https://twitter.com/twanttobealighi" target="_blank" rel="noopener noreferrer me">в твиттере</a> и
     <a href="https://www.instagram.com/twanttobealighi" target="_blank" rel="noopener noreferrer  me">в инстаграме</a>
    </p>
    <p class="p-region">Россия, Санкт-Петербург</p>
  </article>

</section>