---
layout: layouts/home.njk
templateClass: tmpl-archive
---
{% set postslistCounter = collections.posts | length %}
<h2>{{ title }} </h2>
<p> всего {{ postslistCounter }} </p>
{% set postslist = collections.posts %}

<ul reversed class="postlist postlist-grid">
  {%- for post in postslist | reverse -%}
<div>
              <a class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}" href="{{ post.url | url }}" class="postlist-link">
      
        {% if post.data.title %}<h2 class="postlist-title">{{ post.data.title }}</h2>
        {% else %}
          <code>{{ post.url }}</code>
        {% endif %}
      </a>
      <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    
  </div>

  {%- endfor -%}
</ul>