<section  class="u-author h-card">
  <img alt="это я" class="u-photo" src="../../img/me.jpg"/>
  <h2 class="p-name">
    <a href="/" class="u-url u-uid p-name" rel="me">Дарья Морено-Гоголева </a>
  </h2>
  <article>
    <p class="p-note">
    Программистка. Читаю поэзию, фотографирую на айфон, ругаюсь за феминизм.
  </p>
    <p>
    Меня можно найти <a href="https://twitter.com/twanttobealighi" target="_blank" rel="noopener noreferrer me authn">в твиттере</a> и
     <a href="https://www.instagram.com/twanttobealighi" target="_blank" rel="noopener noreferrer  me">в инстаграме</a>
    </p>
    <p class="p-region">Россия, Санкт-Петербург</p>
  </article>

</section>