---
layout: layouts/base.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

<article class="h-entry e-content">{{ content | safe }}</article>

<a href="https://www.bloglovin.com/blog/20659715/?claim=bbw59ds5uhs">Follow my blog with Bloglovin</a>