---
layout: layouts/base.njk
templateClass: tmpl-post
---
<time datetime="{{date}}">{{ date | date('D MMMM YYYY, dddd') }}</time>
<h1>{{ title }}</h1>

<article class="h-entry e-content">{{ content | safe }}</article>

<p><a href="/">к другим постам</a></p>
