---
layout: layouts/base.njk
templateClass: tmpl-post
---
<!doctype html>
<meta charset="utf-8">
<title>my first webmention</title>
<body>
  <div class="h-entry">
    {% include './h-card.njk' %}
    <p>in reply to: <a class="u-in-reply-to" href="https://sleepy-hawking-025db1.netlify.app">@me</a>
    </p>
    <p class="e-content">Trying out this guide to sending webmentions mememe=</p>
    <p>
      <a href="https://iwanttobealight.ru/reply" class="u-url">
        <time class="dt-published" datetime="2020-09-05T10:29:00-0700">September 13, 2020</time>
      </a>
    </p>
  </div>
</body>