---
layout: layouts/base.njk
templateClass: tmpl-post
---
<!doctype html>
<meta charset="utf-8">
<title>my first webmention</title>
<body>
  <div class="h-entry">
    {% include './h-card.njk' %}
    <p>in reply to: <a class="u-in-reply-to" href="https://aaronparecki.com/2018/06/30/11/your-first-webmention">@aaronpk</a>
    </p>
    <p class="e-content">Trying out this guide to sending webmentions. Thank you, Aaron =^..^=</p>
    <p>
      <a href="https://aaronpk.com/reply.html" class="u-url">
        <time class="dt-published" datetime="2020-09-05T10:29:00-0700">September 5, 2020</time>
      </a>
    </p>
  </div>
</body>